a{
  text-decoration: none;
  color: rgb(9,75,67);
}
h2{
  color: rgb(9,75,67);
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-right: 10px;
}
body{
  overflow: auto;
}
.quote{
  text-align: center;
  color: rgb(9,75,67);
  padding-right: 20px;
  padding-top: 30px;
  font-family: 'Ephesis', cursive;
  font-weight: 300;
  font-size: 60px;
}
.button1{
    justify-content: flex-start;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 30px;
    padding-top: 40px;
}

.icon{
    font-size: 40px;
}

.loginform{
    justify-content: flex-end;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 30px;
    padding-top: 40px;

}

.icon1{
    font-size: 20px;
}
.kontakt{
  position: fixed;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  cursor:grab;
  align-items: left end;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: 0.5rem;
  right: 0.5rem;
  background: fixed;

}

.icon1{
  font-size: 40px;
}
.header{
  display: flex;
  justify-content: space-around;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 40px;
  margin-left: 30px;
  color:rgb(9,75,67);
}
li {
  margin: 0 15px;
  font-size: 24px
}
h1{
  margin-left: 50px;
  margin-right: 30px;
  font-size: 40px;
  color: rgb(9,75,67);
}
.quote{
  text-align: center;
  color: rgb(9,75,67);
  padding-right: 20px;
  padding-top: 30px;
  font-family: 'Ephesis', cursive;
  font-weight: 300;
  font-size: 60px;
}
.ourstory{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.ourstoryp{
  font-size: 40px;
  font-weight: 100;
  color:rgb(9,75,67);
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;
}
.quality{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.qualityp{
  font-size: 40px;
  font-weight: 100;
  color:rgb(9,75,67);
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;

}
.vision{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 900px;
  height: 700px;
  justify-content: center;
  padding-left: 310px;
}

.visionp{
  font-size: 40px;
  font-weight: 100;
  color:rgb(9,75,67);
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;

}
  footer {
            background-color: rgba(9, 75, 67, 0.589);
            color: #fff;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        footer p {
            margin: 0;
            pad: 30px;
        }

        footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            font-size: size 30px;
        }

        footer a:hover {
            text-decoration: underline;
        }

        .social-icons {
            color: #fff;
            text-decoration: none;
            margin: 0 8px;
            font-size: 30px;
            justify-content: space-evenly;
        }

        footer .social-icons a:hover {
            text-decoration: underline;
        }
        @media only screen and (max-width: 600px) {
        }