a{
  text-decoration: none;
  color: rgb(9,75,67);
}
h2{
  color: rgb(9,75,67);
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-right: 10px;
}
body{
  display: block;
}

.button1{
    justify-content: flex-start;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.button1:hover{
    background: rgb(228,199,129);
}
.button1:active{
    background: rgb(9,75,67);
}
.icon{
    font-size: 35px;
}

.loginform{
    justify-content: flex-end;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;

}
.loginform:hover{
    background: rgb(228,199,129);
}
.loginform:active{
    background: rgb(9,75,67);
}
.icon1{
    font-size: 30px;
}
/*
.logo{
  display: block;
  justify-content: center;
  align-items: center;
}*/
.fjala1{
    display: inline center;
    font-size: 50px;
    text-align: center;
    font-style: "Zyada " ;
    font-family: Georgia, 'Times New Roman', Times, serifs;
    color: rgb(9,75,67);
    padding-right:25px ;
}
.fjala2{
    display: inline center;
    font-size: 50px;
    text-align: center;
    font-style: obliques;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(228,199,129);
    padding-right: 25px;

}


ul{
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
    font-style: oblique;
    color: rgb(9,75,67);
    padding: 30px;

}

li{
    display: inline;
    list-style: none;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serifs;
}
.main{
    position: relative;
}
 
.foto1{
    display: block; 
    width: 100%;
    height: 900px;
}
.foto1_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(9, 75, 67, 0.5  );
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    
}
.foto1_overlay:hover{
    opacity: 1;
}
.butoni2{
    font-size: 30px;
    background-color:rgb(228,199,129);
    font-family: monospace;
    cursor: grab;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      
}
.bodyifaqes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.foto2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    size: 500px;
    padding: 50px;


      }
      
.price {
  color: grey;
  font-size: 22px;
}
.foto2 button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: rgb(9,75,67);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}
          
.foto2 button:hover{
  opacity: 0.7;
}
.foto3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
  }

.price {
  color: grey;
  font-size: 22px;
  }

.foto3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px; 

}

.foto3 button:hover {
  opacity: 0.7;
  }
.foto4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.foto4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.foto4 button:hover {
  opacity: 0.7;
}
.foto5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}
.price {
  color: grey;
  font-size: 22px;
}

.foto5 button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.foto5 button:hover {
  opacity: 0.7;
}
.foto6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.foto6 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.foto6 button:hover {
  opacity: 0.7;
}
.foto7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.foto7 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(9,75,67);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.foto7 button:hover {
  opacity: 0.7;
}

.footer-dark {
  padding: 10pxs;
  color:#fff;
  background-color:rgb(9,75,67);
  width: 100%;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  font-family: #fff;
}
.findus{
  font-family: white;
  color:#fff;
}
.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:white;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
  text-align:center;
  padding-bottom:20px;
  }
}
.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
  margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

  .footer-dark .item.social {
  text-align:center;
  }

@media (max-width:991px) {
  .footer-dark .item.social {
  text-align:center;
  margin-top:20px;
  }
}
.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}
.footer-dark .item.social > a:hover {
  opacity:0.9;
}
.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


.col-sm-4{
  text-align: center;
}

.findus{
  color: white;
}

footer {
  background-color: rgba(9, 75, 67, 0.589);
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer p {
  margin: 0;
  pad: 30px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size:size 30px;
}

footer a:hover {
  text-decoration: underline;
}

.social-icons {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  font-size: 30px;
  justify-content: space-evenly;
}

footer .social-icons a:hover {
  text-decoration: underline;
}
