
a{
  text-decoration: none;
  color: rgb(9,75,67);
}
h2{
  color: rgb(9,75,67);
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  padding-right: 10px;
}
body{
  overflow: auto;
}
.quote{
  text-align: center;
  color: rgb(9,75,67);
  padding-right: 20px;
  padding-top: 30px;
  font-family: 'Ephesis', cursive;
  font-weight: 300;
  font-size: 60px;
}
.button1{
    justify-content: flex-start;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 30px;
    padding-top: 40px;
}

.icon{
    font-size: 40px;
}

.loginform{
    justify-content: flex-end;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 30px;
    padding-top: 40px;

}

.icon1{
    font-size: 20px;
}
.kontakt{
  position: fixed;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  cursor:grab;
  align-items: left end;
  margin-right: 20px;
  margin-bottom: 20px;
  bottom: 0.5rem;
  right: 0.5rem;
  background: fixed;

}

.icon1{
  font-size: 40px;
}
.header{
  display: flex;
  justify-content: space-around;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 40px;
  margin-left: 30px;
  color:rgb(9,75,67);
}
li {
  margin: 0 15px;
  font-size: 24px
}
h1{
  margin-left: 50px;
  margin-right: 30px;
  font-size: 40px;
  color: rgb(9,75,67);
}
.slider-container {
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 50px auto;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  aspect-ratio: 16/9;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(10, 82, 74, 0.729);
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(10, 82, 74, 0.729);
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
}
.btn{
 font-size: 20px;
 background: none;
 border-radius: 10px;
 padding: 15px;
 color: rgba(10, 82, 74, 0.729);
 border: 1px solid rgba(10, 82, 74, 0.729);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.nav-btns {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .slider-container {
    width: 100%;
    max-width: none;
  }
}

.bodyifaqes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.foto2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    size: 500px;
    padding: 50px;


      }
      
.price {
  color: grey;
  font-size: 22px;
}
.foto2 button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: rgb(9,75,67);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}
          
.foto2 button:hover{
  opacity: 0.7;
}
.foto3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
  }

.price {
  color: grey;
  font-size: 22px;
  }

.foto3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px; 

}

.foto3 button:hover {
  opacity: 0.7;
  }
.foto4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.foto4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.foto4 button:hover {
  opacity: 0.7;
}
.foto5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}
.price {
  color: grey;
  font-size: 22px;
}

.foto5 button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.foto5 button:hover {
  opacity: 0.7;
}
.foto6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.foto6 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(9,75,67);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.foto6 button:hover {
  opacity: 0.7;
}
.foto7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 100px;
  padding: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.foto7 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(9,75,67);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.foto7 button:hover {
  opacity: 0.7;
}

.footer-dark {
  padding: 10pxs;
  color:#fff;
  background-color:rgb(9,75,67);
  width: 100%;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  font-family: #fff;
}
.findus{
  font-family: white;
  color:#fff;
}
.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:white;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
  text-align:center;
  padding-bottom:20px;
  }
}
.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
  margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

  .footer-dark .item.social {
  text-align:center;
  }

@media (max-width:991px) {
  .footer-dark .item.social {
  text-align:center;
  margin-top:20px;
  }
}
.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}
.footer-dark .item.social > a:hover {
  opacity:0.9;
}
.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


.col-sm-4{
  text-align: center;
}

.findus{
  color: white;
}

footer {
  background-color: rgba(9, 75, 67, 0.589);
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer p {
  margin: 0;
  pad: 30px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size:size 30px;
}

footer a:hover {
  text-decoration: underline;
}

.social-icons {
  color: #ffffffc3;
  text-decoration: none;
  margin: 0 8px;
  font-size: 30px;
  justify-content: space-evenly;
}

footer .social-icons a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
}
